html,
body {
    background: #0e0e0e;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    /*change line below to get border above record cover*/
    width: 95vmin;
    border: solid black 5px;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 95%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.whitetext {
    background: none;
    border: none;
    color: white;
    font-size: 1.8em;
}

button.link {
    background: none;
    border: none;
    color: white;
}

input[type=text], select, textarea {
    width: 40%;
    padding: 7px;
    background-color: white;
    border-radius: 3px;
    resize: vertical;
    font-size: 2.5em;
    text-align: center;
  }