<!DOCTYPE html>
<html>

<head>
    <meta name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.onload = function () {
            const button = document.getElementById("yfitops");
            button.addEventListener("click", function (e) {
                alert("add code to show input field");
                // e is the event object
                // e.target is the button element
                // do stuff with them
            });
        }
    </script>
</head>

<body>
    {% block content %}
    <div class="container">
        <table>
            <tr>
                <td style="text-align: center">
                    <button id="yfitops" class="link">{{ title }}</button>
                </td>
            </tr>
            <tr>
                <td>
                <div class="square">
                    <div class="content">
                        <a href="?artist={{ artist }}"><img src="{{ uri }}"> </a>
                    </div>
                </div>
                </td>
            </tr>
        </table>
    </div>
    {% endblock %}

</body>

</html>