<!DOCTYPE html>
<html>

<head>
    <meta name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        window.onload = function () {
            const element = document.getElementById('txt');
            element.addEventListener("keypress", (e) => {
                if (e.key == 'Enter') {
                    location.href = 'http://' + window.location.host + '?artist=' + document.getElementById('txt').value;
                }
            }, false);
        }
    </script>
    <script type="text/javascript">

        function showSearchField() {
            $('#titletext').hide();
            $('#txt').show();
            $('#txt').select();
        }

        function svarvKlick() {
            $('#svarven').hide();
            $('#youtubeplayer').show();

        }
    </script>


    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    {% block content %}
    <div class="container">
        <table>
            <tr>
                <div class="search">
                    <td style="text-align: center">
                        <input id="txt" name="order" type="text" value="" hidden="true" size="12"
                            onClick="this.select();">
                        <p contenteditable="true" id="titletext" class="whitetext" onclick="showSearchField()">{{ title
                            }}</p>
                    </td>
                </div>
            </tr>
            <tr>
                <td>
                    <div class="square">
                        <div class="content">
                            <a href="?artist={{ artist }}"><img src="{{ uri }}"> </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

    </div>
    <table align="center">
        <tr>
            <td>
                <div>
                    <input type="button" onclick="location.href = 'http://' + window.location.host + '?artist='"
                        value="completerandom" />
                </div>
            </td>
            <td>
                <div id="svarven">
                    <input type="button"
                        onclick="location.href = 'http://' + window.location.host + '/yt?artist= {{ artist }}&title= {{ title }}&imageUri={{ uri }}&videoId={{ videolink }} ';"
                        value="lägg vinylen på svarven" />
                </div>
            </td>
            <td>
                <div id="youtubePlayer">
                    <iframe src="https://www.youtube.com/embed/{{ videolink }}" width="100" height="44" frameborder="22"
                        allowfullscreen></iframe>
                </div>
            </td>
            <td>
                <div>
                    <input type="button" onclick="location.href='https://www.youtube.com/watch?v={{ videolink }}';"
                        value="https://www.youtube.com/watch?v= {{ videolink }}" />
                </div>
            </td>
        </tr>
    </table>
    {% endblock %}

</body>

</html>