<!DOCTYPE html>
<html>

<head>
    <meta name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
   <script>
        window.onload = function () {
            const element = document.getElementById('txt');
            element.addEventListener("keypress", (e) => {
                if (e.key == 'Enter') {
                    location.href = 'http://' + window.location.host + '/album-cover?artist=' + document.getElementById('txt').value;
                }
            }, false);

            var url = document.location.href;

            /*Beroende på om sidan laddas i musikläge eller bildläge skall knappar visas eller döljas */
            /*Om man gjorde en egen endpoint bara för youtubelänkarna krashade sidan (ingen bild mm) Sidan laddades om - ingen singel page?*/          
            if (url.indexOf('videoId') > 0) {
                $('#svarven').remove();
                $('#svarvyta').remove();
            } else {
                $('#svarven').show();
            }
            
        }
   </script>
   
   <script type="text/javascript">

        function showSearchField() {
            $('#titletext').hide();
            $('#txt').show();
            $('#txt').select();
        }

</script>


    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    {% block content %}
    <div class="container">
        <table>
            <tr>
                <div class="search">
                    <td style="text-align: center">
                        <div class="whitetext">
                            {{ title }}
                        </div>
                    </td>
                </div>
            </tr>
            <tr>
                <td>
                    <div id="svarven">
                        <a href="/youtube?artist={{ artist }}&title={{ title }}&imageUri={{ uri }}&videoId={{ videolink }}'">
                            <img src="static/youtube.jpeg">
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="square">
                        <div class="content">
                            <a href="/album-cover?artist={{ artist }}">
                                <img src="{{ uri }}"> </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {% endblock %}
</body>

</html>
